@import "tailwindcss";

/* Du kan lägga till egna globala stilar här om du vill */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
